* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div {
    border: 1px solid #222; /*라인 표시용*/
}

body {
    box-sizing: content-box;
    width: 1200px;
    border: 1px solid #222;
    margin: 5% auto;
}

header {
    border: 1px solid blue; /*라인 표시용*/
    width: 1200px;
    height: 100px;
}

#div_logo {
    float: left;
    width: 15%;
    height: 100%;
}

#logo_img {
    width: 179x;
    height: 98px;
    object-fit: cover;
}

#div_searchbar {
    float: left;
    width: 70%;
    height: 100%;
    border-color: crimson;
    position: relative;
}

#searchbar {
    width: 500px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -15px;
}

#div_nav_header {
    float: left;
    width: 15%;
    height: 100%;
    position: relative;    
}

#ul_header {
    width: 150px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

main{
    width: 100%;
    height: 800px;
    border: 1px solid black; /*라인 표시용*/
    clear: left;
}

#nav_main {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

#ul_main_left {
    width: 500px;
    display: inline-block;
    margin: auto 10px;
}

#ul_main_right {
    width: 300px;
    display: inline-block;
    margin: auto 10px;
    text-align: right;
}

.slider {
    width: 1200px;
    height: 350px;
    position: relative;
}

.slider input[type=radio] {
    display: none;
}

ul.imgs {
    padding: 0;
    margin: 0;
}

ul.imgs li{
    position: absolute;
    opacity: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    transition-delay: 0.9s;
}

.bullets {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    border: none;
}

.bullets label {
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1) {
    background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2) {
    background-color: #fff;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3) {
    background-color: #fff;
}

.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1) {
    opacity: 1;
    transition: 1s;
    z-index: 1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2) {
    opacity: 1;
    transition: 1s;
    z-index: 1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3) {
    opacity: 1;
    transition: 1s;
    z-index: 1;
}
